// colors
$color-bg-key: #4d4949;
$color-text-key: white;
$color-bg-key-add: #eac420;
$color-text-key-add: #61510e;
$color-bg-display: black;
$color-text-display: white;
$color-bg-title: #ffde51;
$color-text-title: white;

//typography
$font-base-family: "Source Sans Pro", sans-serif;
$font-base-size: 10px;

//sizes
$button-height: 4.5rem;
$content-height: calc(100vh - 265px - 83px);
