button,
input,
select,
textarea {
  border: none;
  background: none;
  appearance: none;
  font-family: $font-base-family;
  font-size: 1.4rem;
  user-select: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
