<template>
  <div class="items">
    <ul>
      <li v-for="(price, index) in prices" :key="index">
        <span>{{ price }}</span>
        <button class="remove" @dblclick="removePrice(price)">Rimuovi</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: mapGetters({
    prices: "getPrices"
  }),
  methods: mapActions(["removePrice"])
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";
.items {
  margin: 0.3rem 0;
  height: $content-height;
  overflow: auto;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    clear: both;
    padding: 0.8rem 1rem;
    margin-bottom: 0.3rem;
    text-align: center;
    position: relative;
    background-color: lighten($color-bg-title, 20%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 19%;
    margin-right: 1%;
    .remove {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.8rem 1rem;
      text-align: left;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0;
      /* &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background-color: white;
        transition: width 0.2s;
      }
      &:active {
        width: 100%;
        &:after {
          width: 100%;
        }
      } */
    }
  }
}
</style>
